{% extends 'admintemplate.html' %}
<html>
<head>
	<title>Change password</title>
</head>
<body>
<h1 ><ins>Change password Admin</ins></h1>
</body>
{% block a1 %}
<form action="change_password_admin" method="post" onSubmit="return A(this)">
<div align="center" style="">
	<p style="margin-top:80px">Old password<input id="t2" placeholder="Enter your old password" style="margin-left:60px;" type="password" name="v2"></p>
	<p>new password<input id="t3" placeholder="Enter your new passord" style="margin-left:55px;" type="password" name="v3"></p>
	<p>Confirm password<input id="t4" placeholder="Same as new password" style="margin-left:30px;" type="password" name="v4"></p>
	<p><input style="background:lime; cursor:pointer; margin-left:80px" type="submit" value="Change" onMouseOver="this.style.background='orange'"
onMouseOut="this.style.background='lime'"  name="b1"</p>
    </div>
</form>
{% if cmsg %}
<h3 align="center" style="color:red;">{{cmsg}} <br/><a href="login">Return to Login</a></h3>

{% endif %}
{% endblock %}
</body>
</html>