<html>
<head>
<title></title>
<link rel="stylesheet" type="text/css" href="../static/bootstrap-4.0.0-dist/css/bootstrap.css">
<style>

</style>
</head>
<body style="background-image:url(../static/images/doctorhome.jpg); height:768px; width:100%; background-repeat:no-repeat; background-size:1346px 650px;" >
<div class="container-fluid"><p align="center" style="color:skyblue; font-size:50px; font-weight:bold; line-height:100px; margin-left:350px; margin-top:300px; font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif"><a href="login">Please go to<br/>Login page<br/>By clicking at Here</a></p></div>
</body>


</html>